# # pip freeze > requirements.txt
# fastapi==0.100.0
# uvicorn==0.23.0
# TA_Lib==0.4.0







absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
comtypes==1.4.7
contourpy==1.3.0
cssselect==1.2.0
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
discord.py==2.4.0
executing==2.1.0
fake-useragent==1.5.1
fastapi==0.100.0
flatbuffers==24.3.25
fonttools==4.54.1
frozendict==2.4.6
frozenlist==1.5.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.67.0
h11==0.14.0
h5py==3.12.1
html5lib==1.1
httptools==0.6.4
idna==3.10
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.29.0
jedi==0.19.1
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.6.0
kiwisolver==1.4.7
libclang==18.1.1
lxml==5.3.0
lxml_html_clean==0.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
mplfinance==0.12.10b0
multidict==6.1.0
multitasking==0.0.11
namex==0.0.8
nest-asyncio==1.6.0
nsepy==0.8
numpy==1.26.4
opt_einsum==3.4.0
optree==0.13.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
parse==1.20.2
parso==0.8.4
peewee==3.17.7
pillow==11.0.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==4.25.5
psutil==6.1.0
pure_eval==0.2.3
PyAudio==0.2.14
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
pyee==11.1.1
Pygments==2.18.0
pyparsing==3.2.0
pypiwin32==223
pyppeteer==2.0.0
pyquery==2.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python_speech_features==0.6
pyttsx3==2.97
pytz==2024.2
pywin32==306
PyYAML==6.0.2
pyzmq==26.2.0
requests==2.32.3
requests-html==0.10.0
rich==13.9.2
scikit-learn==1.5.2
scipy==1.14.1
selenium==4.25.0
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.0
soupsieve==2.6
SpeechRecognition==3.10.4
srt==3.5.3
stack-data==0.6.3
starlette==0.27.0
#TA-Lib @ file:///C:/Users/KRITALON/Desktop/zadu/TA_Lib-0.4.32-cp312-cp312-win_amd64.whl#sha256=522fcf722a475f6eba8eb8e6a28def044421165cc53e449903eba4a0cdb60363
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
uvicorn==0.23.0
vosk==0.3.45
w3lib==2.2.1
watchfiles==1.0.4
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.17.1
yfinance==0.2.44
youtube-dl==2021.12.17
zipp==3.20.2
